.resume {
	background-color:#f7f7f9; /*#efefef; #e7f3fe; */
	border-left: 6px solid  gray;

	margin-bottom: 2px;
	/* padding: 8px 12px; */
	padding: 8px 12px 4px 12px;
}

.write_comment {
	padding:50px; 
	margin-top:20px; 
  background-color:#f7f7f9;
  border-radius:6px;     /* border-radius:6px; */
}

.read_comment {
	background-color:#f7f7f9; 
	padding:20px;	
	margin-bottom:20px; 
  width:40%; 
  border-radius:20px;  
}

.yissima  { 
    background: #f7f7f9;  	
    z-index:2;
    box-shadow:
    0px 2px 2px 0px rgba(0, 0, 0, 0.5) inset,
    0px 2px 2px 0px rgba(255, 255, 255, 0.5);
    padding:0px;
    border-radius:6px; 
}

.wendo {
  width:98%;
  margin:10px 5px 5px 5px;
  border: solid 1px #666666; padding: 10px 2px ;
  border: solid 1px #BDC7D8; margin-bottom: 8px;
  border-radius:6px; 
}

.hindri{
  width:98%; 
  margin:5px; 
  border: solid 1px #666666;padding: 10px 2px ;
  border: solid 1px #BDC7D8; margin-bottom: 8px ;
  border-radius:6px; 
}

.pveha { 
   width:98.6%;
   margin:5px 5px 10px 5px; 

   background-color: #5fcf80 ; 
   border-color: #3ac162;
   font-weight: bold;
   padding: 12px 15px;
   /* max-width: 100px; */
   color: #ffffff;
   border-radius:6px; 
   
}
.police_intro {   font-family: Verdana, Geneva, sans-serif; font-size: 150%;  }   
.police_article { line-height: 200%; font-size: 150%;  font-family: Verdana, Geneva, sans-serif; }
.separateur {  border: 1px solid #e1e1e8; margin-bottom:20px; }

#show-comment:hover {color:blue;}
.tablecentre {           
    position:absolute; 
    border-radius:0;
    box-shadow: 0 0 65px #cdbe9f inset, 0 0 20px #beae8c inset, 0 0 5px #816f47; 
    -webkit-box-shadow: 0 0 65px #cdbe9f inset, 0 0 20px #beae8c inset, 0 0 5px #816f47;
    -moz-box-shadow: 0 0 65px #cdbe9f inset, 0 0 20px #beae8c inset, 0 0 5px #816f47;
    z-index:2;   
   
}




